<div class="card">
    <button class="btn btn-info" onclick="$('.collapse').toggle()">
        Interactive References Graph
    </button>
    <div class="graph collapse card-body" id="collapseGraph">
        <h6 class="card-subtitle mb-2 text-muted">
            <strong>Hover</strong> for Title |
            <strong>Click</strong> for Details |
            <strong>Drag</strong> for fun
        </h6>
    </div>
</div>