<h1>{{ title }}</h1>
<img id="index_logo" src="/images/logo_wip.png" alt="logo_wip">
<p class="center">
    <a href="/" >Home</a>
     | <a href="/works/list" >View All</a>
     | <a href="/works/add" >Add</a>
</p>