h1 {
    text-align: center;
}

#index_logo {
    display: block;
    margin: auto auto auto auto;
    width: 50%;
}

#nav {
    text-align: center;
}

.center {
    text-align: center;
}

ul {
    padding-left: 0;
}

li {
    list-style-type:none;
}