<form method="post" action="/works/save" class="center">
    <p>
        Key: {{ workKey }}
        <input type="hidden" name="workKey" value="{{ workKey }}" />
        <input type="hidden" name="action" value="{{ action }}" />
    </p>
    <div>
        <input type="text" name="workTitle" placeholder="Title of the Work" required/>
        <select name="workType" required>
            <option value="" disabled selected>Type</option>
            <option value="Book">Book</option>
            <option value="Movie">Movie</option>
            <option value="TV Show">TV Show</option>
        </select>
    </div>
    <textarea rows="5" cols="40" name="workBody" placeholder="Details About the Work" required></textarea> <br/>
    <input type="submit" value="Submit"/>
</form>