<div class="center" style="max-width: 700px; margin: auto">
    {{>image}}
    <blockquote class="blockquote"> The objective of REFFER is to provide a catalog of references within and between books, TV shows, movies, games and other media </blockquote>
    <svg height="150"><line x1="50" y1="0" x2="300" y2="150" stroke="black"/></svg>
    <p class="lead"> The types of references include symbolism, foreshadowing, callbacks, allusions and direct references to other works </p>
    <svg height="150"><line x1="300" y1="0" x2="0" y2="150" stroke="black"/></svg>
    <p class="lead"> Pointing out these literary devices can help the viewer better understand and appreciate the creator's work and intent</p>
    <svg height="150"><line x1="50" y1="0" x2="300" y2="150" stroke="black"/></svg>
    <p class="lead">REFFER can be used casually by people who want to look up the significance of a plot point or a character's motivation, or it can be used academically to analyze a work or more objectively assess the writing quality of a work </p>
    <svg height="150"><line x1="300" y1="0" x2="0" y2="150" stroke="black"/></svg>
    <p class="lead">Literary devices, when used masterfully by a creator and understood by the viewer, lead to the peak of gratification and the optimal way to enjoy media for many people</p>
</div>