<form method="post" action="/works/add" class="center">
    <p>
        <input type="hidden" name="workKey" value="{{ workKey }}" />
        <input type="hidden" name="action" value="{{ action }}" />
    </p>
    <div style="margin: auto auto 10px auto">
        <input type="text" name="workTitle" placeholder="Title of the Work" required/>
        <select name="workType" required>
            <option value="" disabled selected>Type</option>
            <option value="Book">Book</option>
            <option value="Movie">Movie</option>
            <option value="TV Show">TV Show</option>
        </select>
    </div>
    <textarea rows="10" cols="40" name="workBody" placeholder="Details About the Work" required></textarea> <br/>
    <input class="btn btn-primary" type="submit" value="Create"/>
</form>