<form method="post" action="/works/edit" class="center">
    <p>
        <input type="hidden" name="workKey" value="{{ workKey }}" />
        <input type="hidden" name="action" value="{{ action }}" />
    </p>
    <div style="margin: auto auto 10px auto">
        <input type="text" name="workTitle" placeholder="Title of the Work" required value="{{ workTitle }}"/>
        <select name="workType" required>
            <option value="" disabled>Type</option>
            <option value="Book" {{#if isBook}}selected{{/if}}>Book</option>
            <option value="Movie" {{#if isMovie}}selected{{/if}}>Movie</option>
            <option value="TV Show" {{#if isTVShow}}selected{{/if}}>TV Show</option>
        </select>
    </div>
    <textarea rows="10" cols="40" name="workBody" placeholder="Details About the Work" required>{{ workBody }}</textarea> <br/>
    <input class="btn btn-primary" type="submit" value="Update"/>
</form>