<div class="container-fluid center">
    <div class="m-auto" style="max-width: 500px; min-width: content-box">
        <div class="card m-auto">
            <a class="btn btn-primary" href="/users/logout">Log Out</a>
            <button class="btn btn-info" onclick="$('.collapse').toggle()">
               Change Username
            </button>
            <div class="collapse card-body">
                <form method="post" action="/users/updateUsername">
                    <div class="m-auto" style="width: 300px">
                        <div class="form-inline row">
                            <input class="form-control" type="text" name="username" placeholder="New Username" required>
                            <input class="btn btn-primary m-auto" type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div>
    <h2>My Works</h2>
    {{> work_table }}
</div>